
body{
    font-family: Arial;
    margin:0
}
#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.header{
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 88px;
}
/********/

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d1321;
    border-style: solid;
    border-color: #0d1321;
    border-width: 2px;
}

li{
    display: inline;
}

li a{
    display: black;
    color: #c1dff0;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    float: left;
}
#Markets{
    text-align: center;
    color: white;
}

#Markets ul{
    text-align: center;
    background-color: initial;
    border-top-width: 6px;
    border-bottom-width: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: gray;
}
